<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Example</title>
    <style>
      body {
        padding: 50px;
        font: 14px Helvetica;
      }
      img {
        max-width: 150px;
      }
    </style>
  </head>
  <body>
    <h1>Multipart Form Example</h1>
    {{if .Name}}
      <p>Uploaded a <strong>{{.Size | humanize_bytes}}</strong> byte <strong>{{.Type}}</strong> file named <strong>{{.Name}}</strong>.</p>
      <img src="data:image/jpg;base64,{{.Image}}">
    {{else}}
      <p>Upload an image.</p>
    {{end}}
    <form action="submit" method="post" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/jpeg">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
